h1 {
    font-size: 100px;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

p {
    font-size: 35px;
}

b {
    font-size: 30px;
}

strong {
    font-size: 40px;
    background-image: linear-gradient(palegreen, rgb(19, 211, 77));
    padding: 0px 40px;
    border-radius: 10px;
    text-align: center;
}

.color {
    color: rgb(255, 0, 149);
}

.split-comp {
    display: flex;
}


.text {
    color: black;
    text-align: right;
    padding: 10% 5%;
}


.half-width {
    width: 50%;
    padding-left: 5%;
    background-color: #E0EAF4;
}

.half-width img {
    width: 70%;
    padding-top: 10%;
}

.center {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}



.full-plan img {
    width: 10%;
}

.full-plan p {
    font-size: 30px;
}

.plan {
    width: 50%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
}

#food {
    background-color: #e0f3f4;
}

#shelter {
    background-color: #ede0f4;
}

#educat {
    background-color: #f4e0e0;
}

.contribute-width {
    width: 50%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
    padding-top: 5%;
}

.contribute-img {
    width: 30%;
    float: right;
    margin-top: 5%;
}

.anchor-button {
    text-decoration: none;
    background-image: linear-gradient(palegreen, rgb(19, 211, 77));
    padding: 20px 50px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-size: 35px;
}

.price-button {

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}